
<center> <p class="speech"><%= @select.username %><%= @h %> </p>

<div class="container" >
    
 
    <div class="row">
        <img class="circle"  src="<%= @g %>"> 
           <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Question #3</span>
              <p>돈이 충분한가요?</p>
            </div>
            <div class="card-action">
              <a href="/home/r1">YES</a>
              <a href="/home/r2">NO</a>
            </div>
          </div>
    </div>
</div>
</center>