<nav >
    <div  class="nav-wrapper green accent-2">
     <img style="width:50px; length:50px; margin-top:10px;  margin-left:10px;"class="circle responsive-img" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSmhuOEMLk4cNkcF47kQoJhvrwDyIoxP5drQIpRuyv7DOw38vMT0g"> <a href="/" class="brand-logo">  HungryLion</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons left">search</i>오늘의 메뉴 정하러가기!</a></li>
        <li><a href="badges.html"><i class="material-icons right">view_module</i>Other Services</a></li>
      </ul>
    </div>
  </nav>

<center><h1>Welcome hungry boy</h1>
<div class="container" >
    <div class="row">
           <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Question #4</span>
              <p>돈이충분한가요??</p>
            </div>
            <div class="card-action">
              <a href="/home/e3">YES</a>
              <a href="/home/e4">NO</a>
            </div>
          </div>
    </div>
</div>
</center>