<body style=" background-size:cover; background-image: url('/image/서강대.jpg');">
<div class="container">
  <div class="row"   >
      
      
   <center><h1 style=" color:white;"> <p>서강대생의</p> <p>스마트한</p> <p>메뉴선택</p></h1>
   <h3  style="color:white;">HungryLion!</h3>
   
   	<div class="container">
					<div class="row services">
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/82808-200.png" alt="" class="icon">
						</div>
						<h4 class="heading"  style="color:white;">오늘 뭐 먹지?</h4>
						<p class="description"  style="color:white;">오늘 무엇을 먹을지 고민될때 당신의 머리속에 있는 음식들을 찾아드리겠습니다!</p>
						<a href="#search" style="width:200px; height:40px; font-size:22px "class="waves-effect waves-light btn" ><i class="material-icons left">cloud</i>정하러가기!</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/51422-200.png" alt="" class="icon">
						</div>
						<h4 class="heading"  style="color:white;">자취 레시피!</h4>
						<p class="description"  style="color:white;">자취하는 당신을 위한 오늘만의 레시피!</p>
							<a href="/home/recipe" style="width:200px; height:40px; font-size:22px "class="waves-effect waves-light btn" ><i class="material-icons left">cloud</i>보러가기!</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/15893-200.png" alt="" class="icon">
						</div>
						<h4 class="heading"  style="color:white;">미니 게임!</h4>
						<p class="description"  style="color:white;">오늘은 꽁짜로 밥먹자! 러신안룰렛, 사다리타기 등등</p>
							<a href="/home/minigame" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>게임하러가기!</a>
					</div>
				</div>
			</div>
		</div>
  <!--  <div class="fixed-action-btn horizontal click-to-toggle" style=" color:white; bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
    </a>
    
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a href='home/recipe' class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
     <ul class="collection">
    <li class="collection-item avatar">
     <a href="#search"><img src="/image/카톡3.jpg"  align="left" style="width:72px; height:72px;"></a>
    
      <span class="title">메뉴 고르기</span>
      <p>몇 가지 질문에 답하세요!<br>
         당신이 원하는 메뉴를 골라줄게요!
      </p>
      
    </li>
    <li class="collection-item avatar">
       <a href="/home/recipe"><img src="/image/카톡1.jpg"  align="left" style="width:72px; height:72px;"></a>
      <span class="title">간단한 요리비법</span>
      <p>사먹기는 싫고 뭘 먹어야할까?<br>
         간단한 요리법을 알려줄게 만들어먹어!
      </p>
      
    </li>
    <li class="collection-item avatar">
        <img src="/image/카톡4.jpg"  align="left" style="width:72px; height:72px;">
      <span class="title">복불복</span>
      <p>오늘 밥은 누가사지? <br>
         게임해서 정해라!
      </p>
     
    </li>
  </ul>
        
   </center>
  </div>
 	</div> 
 -->
 <br>
 <section id="search"><center><h3  style="color:white;">메뉴 고르기</h3></center> <br>
 <div  class="container" style="color:white;">
    <form action="/home/write" method="POST" >
    
   <h4>1. 이름</h4>
     <div class="row">
  
      <div class="row">
        <div class="input-field col s6">
        
          <i class="material-icons prefix">account_circle</i>
          <input placeholder="이름을 쓰세요" name="un"id="icon_prefix" type="text" class="validate">
         
        </div>
    
      </div>
   
  </div>
    
    <h4>2. 성별</h4>
    <p>
      <input style="color:white"  name="g" type="radio" id="test1" value="Male" />
      <label style="color:white" for="test1">남자</label>
    </p>
    <p>
      <input style="color:white"  name="g" type="radio" id="test2" value="Female" />
      <label style="color:white" for="test2">여자</label>
    </p>
  
  
 <center><button class="btn waves-effect waves-light" type="submit" name="action">시작하기!
    <i class="material-icons right">send</i></center>
  </button>
  </form>
  
  </div>
  </section>
  </body>
  
  