<form style = "display:inline-block ; margin-bottom: 0px;"  action = "/home/rr/" method = "get">
    <button type="submit" class = "waves-effect waves-light btn" >러시안 룰렛</button>
    </button>
</form>
<form style = "display:inline-block ; margin-bottom: 0px;"  action = "/home/ladder/" method = "get">
    <button type="submit" class = "waves-effect waves-light btn">사다리 게임</button>
    </button>
</form>
<form style = "display:inline-block ; margin-bottom: 0px;"  action = "/home/colorchange/" method = "get">
    <button type="submit" class = "waves-effect waves-light btn" >순발력테스트</button>
    </button>
</form>
