<center>
<form style = "display:inline-block ;width:28%; margin-bottom: 0px;margin-left:5px"  action = "/home/rr/" method = "get">
    <button type="submit" class = "waves-effect waves-light btn-large" >룰렛</button>
    </button>
</form>
<form style = "display:inline-block ;width:28%; margin-bottom: 0px;margin-left:5px"  action = "/home/ladder/" method = "get">
    <button type="submit" class = "waves-effect waves-light btn-large">사다리</button>
    </button>
</form>
<form style = "display:inline-block ;width:28%; margin-bottom: 0px;margin-left:5px"  action = "/home/colorchange/" method = "get">
    <button type="submit" class = "waves-effect waves-light btn-large" >순발력</button>
    </button>
</form>
</center>
