<body style=" background-size:cover; background-image: url('<%= @g %>');">
<div class="container"  >
    <div class="row">
 
 
 <center>
 
 
      <div class="row" style="margin-top:100px; ">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
             <%= image_tag @image_food %>
              <span class="card-title">오늘의 메뉴!</span>
            </div>
            <div class="card-content">
              <p>맛있는 점심 되세요!</p>
            </div>
            <div class="card-action">
               <a href="/home/selector">처음부터 다시고르기!</a>
            </div>
          </div>
        </div>
      </div>
            

        

    
        </center>
        
        
    </div> 
</div>
</body>

