@font-face {
    font-family: 'BM-HANNA';
    src: font-url('BM-HANNA.eot'); 
    src:
         font-url('BM-HANNA.ttf') format('truetype'),
         font-url('BM-HANNA.woff') format('woff'),
         font-url('BM-HANNA.svg') format('svg');
    
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BM-JUA';
    src: font-url('BM-JUA.eot');
    src: font-url('BM-JUA.ttf') format('truetype'),
         font-url('BM-JUA.woff') format('woff'),
         font-url('BM-JUA.svg') format('svg');
    
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunGothic';
    src: font-url('NanumBarunGothic.eot');
    src: font-url('NanumBarunGothic.ttf') format('truetype'),
         font-url('NanumBarunGothic.woff') format('woff'),
         font-url('NanumBarunGothic.svg') format('svg');
    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bukchontown';
    src: font-url('Bukchontown.eot');
    src: font-url('Bukchontown.ttf') format('truetype'),
         font-url('Bukchontown.woff') format('woff'),
         font-url('Bukchontown.svg') format('svg');
    
    font-weight: normal;
    font-style: normal;
}