<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    </body>
  </html>
          
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link href="https://cdn.rawgit.com/singihae/Webfonts/master/style.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
  html, body {
    font-family: 'BM-JUA';
  }
  </style>
</head>
<body>
      <!--상단 메뉴바-->
  <nav>
    <div  class="nav-wrapper blue-grey darken-1">
     <img style="width:50px; length:50px; margin-top:10px;  margin-left:10px;"class="circle responsive-img" src="/image/로고.jpg"> <a href="/" class="brand-logo"> &nbsp HungryLion</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#search"><i class="material-icons left">search</i>오늘의 메뉴 정하러가기!</a></li>

      </ul>
    </div>
  </nav>
<%= yield %>

   <footer class="page-footer blue-grey darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s3" >
                 <img style="width:200px; length:100px; margin-top:10px;  margin-left:10px;" src="/image/멋사필기.png">
           <p class="grey-text text-lighten-4">     <img style="width:50px; length:50px; margin-top:10px;  margin-left:10px;"class="circle responsive-img" src="/image/1.jpg"> 서강대 경영 함형우</p>
                <p class="grey-text text-lighten-4">     <img style="width:50px; length:50px; margin-top:10px;  margin-left:10px;"class="circle responsive-img" src="/image/2.png"> 서강대 아텍 한수현</p>
                <p class="grey-text text-lighten-4">     <img style="width:50px; length:50px; margin-top:10px;  margin-left:10px;"class="circle responsive-img" src="/image/3.jpg"> 서강대 경제 김희재</p>
                </div>
                <div class="col 15 s3"  style="margin-top:153px;">
                <p class="grey-text text-lighten-4">      <img style="width:50px; length:50px; margin-top:10px;  margin-left:10px;"class="circle responsive-img" src="/image/4.jpg"> 서강대 경영 한상희</p>
                <p class="grey-text text-lighten-4">      <img style="width:50px; length:50px; margin-top:10px;  margin-left:10px;"class="circle responsive-img" src="/image/5.png"> 서강대 컴공 김재원</p>
                <p class="grey-text text-lighten-4">      <img style="width:50px; length:50px; margin-top:10px;  margin-left:10px;"class="circle responsive-img" src="/image/6.jpg"> 서강대 경영 이혜인</p>
              </div>
              <div class="col l2 offset-3 s3" style="margin-left: 78px; margin-right: 0px;">
                <h5 style="margin-top:211px;   font size:22px;"class="white-text">Sponserd by</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://www.likelion.net">멋쟁이사자처럼</a></li> <br>
                  <li><a class="grey-text text-lighten-3" href="http://www.smilegate.com">Smilegate</a></li> <br>
                  <li><a class="grey-text text-lighten-3" href="http://www.aws.amazon.com">AmazonWebService</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            <a class="grey-text text-lighten-4 right" href="http://www.sogang.ac.kr">서강대학교</a>
            </div>
          </div>
          
        </footer>

</body>
</html>
